{
  "presets": ["@babel/preset-react", "@babel/preset-typescript"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "extensions": [".ts", ".tsx"],
        "alias": {
          "@assets": "./assets",
          "@components": "./src/components",
          "@constants": "./src/constants",
          "@errors": "./src/errors",
          "@hooks": "./src/hooks",
          "@models": "./src/models",
          "@pages": "./src/pages",
          "@providers": "./src/providers",
          "@services": "./src/services",
          "@store": "./src/store"
        }
      }
    ]
  ]
}
