.gm-style-iw.gm-style-iw-c {
  border-radius: 1rem;
  padding: 0;
  max-width: 320px !important;
}

.gm-style-iw-tc {
  display: none;
}

.gm-style-iw.gm-style-iw-c > button {
  display: none !important;
}

.gm-style-iw > .gm-style-iw-d {
  overflow: unset !important;
}
